@using OpenOsp.Client.Components.Main
<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="true">
  <Found Context="routeData">
    <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Body)">
      <Authorizing>
        <div class="w-full h-full flex justify-center items-center bg-base-300">
          <button class="btn btn-primary btn-outline btn-lg loading">Authorizing...</button>
        </div>
      </Authorizing>
    </AuthorizeRouteView>
  </Found>
  <NotFound>
    <CascadingAuthenticationState>
      <LayoutView Layout="typeof(Body)">
        <OpenOsp.Client.Pages.NotFound/>
      </LayoutView>
    </CascadingAuthenticationState>
  </NotFound>
</Router>