@using OpenOsp.Model.Dtos

<tr>
  <td><label><input type="checkbox" @onchange="eventArgs => HandleCheckboxChange(eventArgs.Value)" checked="@_checkedMembers.ContainsKey(_readDto.Id)"/></label></td>
  <td>@_readDto.FirstName</td>
  <td>@_readDto.LastName</td>
  <td>@_readDto.Pesel</td>
  <td><MemberUpdateModal OnUpdateCallback="OnUpdateCallback"/></td>
</tr>

@code {
  
  [CascadingParameter]
  private MemberReadDto _readDto { get; set; }

  [CascadingParameter(Name = "CheckedMembers")]
  private IDictionary<int, string> _checkedMembers { get; set; }
  
  [Parameter]
  public EventCallback OnUpdateCallback { get; set; }

  private void HandleCheckboxChange(object value) {
    if ((bool)value) {
      _checkedMembers.TryAdd(_readDto.Id, $"{_readDto.FirstName} {_readDto.LastName}");
    }
    else {
      _checkedMembers.Remove(_readDto.Id);
    }
  }

}