@using OpenOsp.Model.Dtos
@using OpenOsp.Client.Components.Forms

<label for="member-update-modal" class="btn btn-sm btn-primary btn-outline modal-button">Edit</label> 
<input type="checkbox" id="member-update-modal" class="modal-toggle"> 
<div class="modal">
  <EditForm Model="@_updateDto" OnValidSubmit="HandleUpdate" class="modal-box">
    <h1 class="mb-5 text-center text-2xl font-bold">Update a member</h1>
    <DataAnnotationsValidator/>
    <LabeledInputText @bind-Value="_updateDto.FirstName"/>
    <LabeledInputText @bind-Value="_updateDto.LastName"/>
    <LabeledInputText @bind-Value="_updateDto.Pesel"/>
    <div class="modal-action">
      <button type="submit" for="member-update-modal" class="btn btn-primary">Update</button>
      <label for="member-update-modal" class="btn">Cancel</label>
    </div>
  </EditForm>
</div>

@code {

  [CascadingParameter]
  private MemberReadDto _readDto { get; set; }

  private MemberUpdateDto _updateDto { get; set; } = new();

  protected override Task OnInitializedAsync() {
    _updateDto.FirstName = _readDto.FirstName;
    _updateDto.LastName = _readDto.LastName;
    _updateDto.Pesel = _readDto.Pesel;
    return base.OnInitializedAsync();
  }

  private void HandleUpdate() {
    
  }

}
