@using OpenOsp.Model.Dtos

<tr>
  <td></td>
  <td>@_readDto.FirstName</td>
  <td>@_readDto.LastName</td>
  <td>@_readDto.Pesel</td>
  <td><MemberUpdateModal/></td>
</tr>

@code {
  
  [CascadingParameter]
  private MemberReadDto _readDto { get; set; }

  [CascadingParameter(Name = "MarkedMembers")]
  private ISet<int> _markedMembers { get; set; }

}