<header class="navbar w-11/12 max-w-screen-lg m-2 rounded-box shadow-2xl bg-base-300">
  <HamburgerBtn for="navdrawer"/>
  <div class="navbar-start mx-4">
    <span class="text-xl font-bold select-none">OpenOSP</span>
  </div>
  <Nav class="navbar-center hidden mx-4 lg:flex lg:w-2/5 lg:justify-around"/>
  <div class="navbar-end">
    <UserAvatar/>
  </div>
</header>