<!-- TODO: Make navdrawer hide after click in the link -->
<nav @attributes="@AdditionalAttributes">
  <a href="/" class="btn btn-ghost rounded-btn lg:btn-sm">
    Home
  </a>
  <a href="/panel" class="btn btn-ghost rounded-btn lg:btn-sm">
    User Panel
  </a>
  <a href="/" class="btn btn-ghost rounded-btn lg:btn-sm">
    <span data-tip="Not available" class="tooltip tooltip-right lg:tooltip-bottom tooltip-info">
      About
    </span>
  </a>
  <a href="/" class="btn btn-ghost rounded-btn lg:btn-sm">
    <span data-tip="Not available" class="tooltip tooltip-right lg:tooltip-bottom tooltip-info">
      Contact Us
    </span>
  </a>
</nav>

@code {

  [Parameter(CaptureUnmatchedValues = true)]
  public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }

}