@using OpenOsp.Model.Dtos
@using OpenOsp.Client.Components.UserPanel.Actions
@using OpenOsp.Client.Components.Forms
@using OpenOsp.Model.Enums

<div class="flex mb-5 justify-between">
  <div>
    <ActionCreateModal/>
    <button class="btn btn-secondary">Delete</button>
  </div>
  <button class="btn btn-warning">Action!</button>
</div>
<div class="overflow-x-auto">
  <table class="table w-full">
    <thead>
    <tr>
      <th></th>
      <th>Type</th>
      <th>Start time</th>
      <th>End time</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var action in _actions) {
      <CascadingValue Value="@action">
        <ActionRecord/>
      </CascadingValue>
    }
    </tbody>
    <tfoot>
    </tfoot>
  </table>
</div>

@code {

  private IEnumerable<ActionReadDto> _actions { get; set; } = new List<ActionReadDto>() {
    new() {
      Type = ActionType.Fire,
      Location = "wypizdów 2",
      StartTime = new DateTime(2021, 12, 1),
      EndTime = new DateTime(2021, 12, 2),
      Id = 1
    }
  };

}