<div class="overflow-x-auto">
  <table class="table w-full">
    <thead>
    <tr>
      <th><label><input type="checkbox" class="checkbox"/></label></th>
      <th>Type</th>
      <th>Location</th>
      <th>Start time</th>
      <th>End time</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
</div>

@code {

  // [CascadingParameter(Name = "MarkedActions")]
  // private ISet<int> _markedActions { get; set; }

}