@using OpenOsp.Model.Dtos
<div class="flex mb-5 justify-between">
  <div>
    <EquipmentCreateModal/>
    <button class="btn btn-secondary">Delete</button>
  </div>
  <button class="btn btn-warning">Action!</button>
</div>
<div class="overflow-x-auto">
  <table class="table w-full">
    <thead>
    <tr>
      <th></th>
      <th>Brand</th>
      <th>Model</th>
      <th>Registry number</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var equipment in _equipment) {
      <CascadingValue Value="@equipment">
        <EquipmentRecord/>
      </CascadingValue>
    }
    </tbody>
    <tfoot>
    </tfoot>
  </table>
</div>

@code {

  private IEnumerable<EquipmentReadDto> _equipment { get; set; } = new List<EquipmentReadDto> {
    new() {Brand = "aaa", Model = "bbb", RegistryNumber = "EPA 1234", Id = 1}
  };

}