@using OpenOsp.Model.Dtos
@using OpenOsp.Client.Components.UserPanel.Equipment
@using OpenOsp.Client.Components.Forms
@inject HttpClient _http

<div class="flex mb-5 justify-between">
  <div>
    <EquipmentCreateModal OnCreateCallback="UpdateTable"/>
    <button class="btn btn-secondary">Delete</button>
  </div>
</div>
<div class="overflow-x-auto">
  <table class="table w-full">
    <thead>
    <tr>
      <th></th>
      <th>Brand</th>
      <th>Model</th>
      <th>Registry number</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var equipment in _equipment) {
      <CascadingValue Value="@equipment">
        <EquipmentRecord OnUpdateCallback="UpdateTable"/>
      </CascadingValue>
    }
    </tbody>
    <tfoot>
    </tfoot>
  </table>
</div>

@code {

  private IEnumerable<EquipmentReadDto> _equipment { get; set; } = new List<EquipmentReadDto>();

  protected override async Task OnInitializedAsync() {
    await UpdateTable();
  }

  private async Task UpdateTable() {
    var result = await _http.GetFromJsonAsync<List<EquipmentReadDto>>("api/equipment");
    if (result is not default(List<EquipmentReadDto>)) {
      _equipment = result;
    }
  }

}