@using OpenOsp.Model.Dtos
@using OpenOsp.Client.Components.UserPanel.Equipment
@using OpenOsp.Client.Components.Forms

<div class="overflow-x-auto">
  <table class="table w-full">
    <thead>
    <tr>
      <th><label><input type="checkbox" class="checkbox"/></label></th>
      <th>Brand</th>
      <th>Model</th>
      <th>Registry number</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var equipment in _equipment) {
      <CascadingValue Value="@equipment">
        <EquipmentRecord/>
      </CascadingValue>
    }
    </tbody>
    <tfoot>
    <tr>
      <td></td>
      <td><LabeledInputText @bind-Value="_createDto.Brand" placeholder="brand"/></td>
      <td><LabeledInputText @bind-Value="_createDto.Model" placeholder="model"/></td>
      <td><LabeledInputText @bind-Value="_createDto.RegistryNumber" placeholder="i.e. AAA-12345"/></td>
    </tr>
    </tfoot>
  </table>
</div>

@code {

  private IEnumerable<EquipmentReadDto> _equipment { get; set; } = new List<EquipmentReadDto>() {
    new() {Brand = "aaa", Model = "bbb", RegistryNumber = "EPA 1234", Id = 1}
  };

  private EquipmentCreateDto _createDto { get; set; } = new();

  [CascadingParameter(Name = "MarkedEquipment")]
  private ISet<int> _markedEquipment { get; set; }

}