@using OpenOsp.Model.Dtos
@using OpenOsp.Client.Components.UserPanel.Equipment
@using OpenOsp.Client.Components.Forms
@inject HttpClient _http

<div class="flex mb-5 justify-between">
  <div>
    <EquipmentCreateModal OnCreateCallback="UpdateTable"/>
    <span>
      <label for="delete-equipment-modal" class="btn btn-secondary" disabled="@(_isDeleteButtonEnabled is false)">Delete</label>
      <input type="checkbox" id="delete-equipment-modal" class="modal-toggle" @bind="_isDeleteModalOpen">
      <div class="modal">
        <div class="modal-box">
          <h3 class="font-bold text-lg">Delete Equipment</h3>
          <p class="py-4">Are you sure you want to delete @_checkedEquipment.Count() checked equipment?<br/> It is permanent.</p>
          <div class="modal-action">
            <label for="delete-equipment-modal" @onclick="HandleDelete" class="btn btn-error">Confirm</label>
            <label for="delete-equipment-modal" class="btn">Cancel</label>
          </div>
        </div>
      </div>
    </span>
  </div>
</div>
<div class="overflow-x-auto">
  <table class="table w-full">
    <thead>
    <tr>
      <th></th>
      <th>Brand</th>
      <th>Model</th>
      <th>Registry number</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var equipment in _equipment) {
      <CascadingValue Value="@equipment">
        <EquipmentRecord OnUpdateCallback="UpdateTable" OnDeleteButtonCheck="HandleDeleteButtonCheck"/>
      </CascadingValue>
    }
    </tbody>
    <tfoot>
    </tfoot>
  </table>
</div>

@code {

  [CascadingParameter(Name = "CheckedEquipment")]
  private IDictionary<int, string> _checkedEquipment { get; set; }

  private IEnumerable<EquipmentReadDto> _equipment { get; set; } = new List<EquipmentReadDto>();

  private bool _isDeleteModalOpen = false;
  private bool _isDeleteButtonEnabled = false;

  protected override async Task OnInitializedAsync() {
    await UpdateTable();
  }
  
  private void HandleDeleteButtonCheck() {
    _isDeleteButtonEnabled = (_checkedEquipment.Count() is not 0);
  }

  private async Task UpdateTable() {
    var result = await _http.GetFromJsonAsync<List<EquipmentReadDto>>("api/equipment");
    if (result is not default(List<EquipmentReadDto>)) {
      _equipment = result;
    }
    HandleDeleteButtonCheck();
  }

  private async Task HandleDelete() {
    foreach (var equipmentId in _checkedEquipment.Keys) {
      var result = await _http.DeleteAsync($"api/Equipment/{equipmentId}");
      if (result.IsSuccessStatusCode) {
        _checkedEquipment.Remove(equipmentId);
      }
    }
    await UpdateTable();
  }

}