@using OpenOsp.Model.Dtos
@using OpenOsp.Client.Components.UserPanel.Members
@using OpenOsp.Client.Components.Forms

<div class="flex mb-5 justify-between">
  <div>
    <MemberCreateModal/>
    <button class="btn btn-secondary">Delete</button>
  </div>
  <button class="btn btn-warning">Action!</button>
</div>
<div class="overflow-x-auto">
  <table class="table w-full">
    <thead>
    <tr>
      <th><!--TODO: Think of incorporating SelectAll checkbox and pagination sometime--></th>
      <th>First name</th>
      <th>Last name</th>
      <th>PESEL</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var member in _members) {
      <CascadingValue Value=@member>
        <MemberRecord/>
      </CascadingValue>
    }
    </tbody>
    <tfoot>
    </tfoot>
  </table>
</div>

@code {

  private IEnumerable<MemberReadDto> _members { get; set; } = new List<MemberReadDto>() {
    new() {FirstName = "test", LastName = "testowy", Pesel = "0000000000", Id = 1},
    new() {FirstName = "dwójka", LastName = "panie", Pesel = "0000000000", Id = 2}
  };

}
