@page "/"

<div class="flex flex-col items-center lg:flex-row">
  <div class="mx-4 text-center lg:text-left">
    <h1 class="mb-5 text-5xl font-bold">
      Welcome!
    </h1>
    <p class="mb-5">
      Your web-based firefighting supercharger is waiting for you :3
    </p>
  </div>
  <AuthCard />
</div>