<div class="m-5 text-center">
  <h1 class="mb-5 text-7xl font-bold text-shadow-xl">
    401
  </h1>
  <p class="text-xl text-shadow-xl">
    You do not have permissions to see this page
  </p>
</div>
