@using OpenOsp.Client.Enums
<div class="card w-full max-w-sm mx-2 flex-shrink-0 shadow-2xl bg-base-200 bg-opacity-95">
  <div class="card-body">
    <div class="card-title w-full flex flex-row">
      <button @onclick="() => Mode = AuthCardMode.Login" disabled="@(Mode.Equals(AuthCardMode.Login))"
              class="btn btn-secondary flex-grow">
        Log in
      </button>
      <div class="divider divider-vertical"/>
      <button @onclick="() => Mode = AuthCardMode.Register" disabled="@(Mode.Equals(AuthCardMode.Register))"
              class="btn btn-accent flex-grow">
        Register
      </button>
    </div>
    @switch (Mode) {
      case AuthCardMode.Login:
        <Login/>
        break;
      case AuthCardMode.Register:
        <Register/>
        break;
    }
  </div>
</div>

@code {

  private AuthCardMode Mode { get; set; } = AuthCardMode.Login;

}