<div class="card w-full max-w-sm mx-2 flex-shrink-0 shadow-2xl bg-base-200">
  <div class="card-body">
    <div class="card-title w-full flex flex-row">
      <button class="btn btn-secondary flex-grow">Log in</button>
      <div class="divider divider-vertical" />
      <button class="btn btn-accent flex-grow">Register</button>
    </div>
    <Login />
  </div>
</div>