@using OpenOsp.Model.Dtos
<EditForm Model="@dto" OnValidSubmit="HandleLogin">
  <DataAnnotationsValidator/>
  <LabeledInputText @bind-Value="dto.Email" type="email" placeholder="your@email.com"/>
  <LoginInputPassword @bind-Value="dto.Password" placeholder="password"/>
  <div class="form-control mt-6">
    <button type="submit" class="btn btn-primary">Log in</button>
  </div>
</EditForm>

@code {

  private UserLoginDto dto = new();

  private async Task HandleLogin() {
    Console.WriteLine($"{dto.Email} and {dto.Password}");
  }

}