@using OpenOsp.Model.Dtos
@using OpenOsp.Client.Components.Forms

<EditForm Model="@_dto" OnValidSubmit="HandleLogin">
  <DataAnnotationsValidator/>
  <LabeledInputText @bind-Value="_dto.Email" type="email" placeholder="your@email.com"/>
  <LoginInputPassword @bind-Value="_dto.Password" placeholder="password"/>
  <div class="form-control mt-6">
    <button type="submit" class="btn btn-primary">Log in</button>
  </div>
</EditForm>

@code {

  private UserLoginDto _dto = new();

  private async Task HandleLogin() {
    Console.WriteLine($"{_dto.Email} and {_dto.Password}");
  }

}