@using OpenOsp.Model.Dtos

<tr>
  <td></td>
  <td>@_readDto.Brand</td>
  <td>@_readDto.Model</td>
  <td>@_readDto.RegistryNumber</td>
  <td><EquipmentUpdateModal/></td>
</tr>

@code {

  [CascadingParameter]
  private  EquipmentReadDto _readDto { get; set; }

  [CascadingParameter(Name = "MarkedEquipment")]
  private ISet<int> _markedEquipment { get; set; }

}