<div class="card w-full max-w-sm mx-2 flex-shrink-0 shadow-2xl bg-base-200">
  <div class="card-body">
    <div class="mb-5 flex w-full flex-row">
      <input type="button" value="Log in" class="btn btn-secondary flex-grow" />
      <div class="divider divider-vertical" />
      <input type="button" value="Register" class="btn btn-primary flex-grow" />
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text">Email</span>
      </label>
      <input type="email" placeholder="your@email.com" class="input input-bordered" />
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text">Password</span>
      </label>
      <input type="password" placeholder="Password" class="input input-bordered" />
      <label class="label">
        <a href="/" class="label-text-alt link-hover">Forgot password?</a>
      </label>
    </div>
    <div class="form-control mt-6">
      <input type="submit" value="Log in" class="btn btn-primary" />
    </div>
  </div>
</div>