<header class="navbar w-11/12 max-w-screen-lg m-2 rounded-box shadow-lg bg-base-300">
  <HamburgerBtn for="navdrawer"/>
  <div class="navbar-start px-2 mx-2">
    <span class="text-xl font-bold">OpenOSP</span>
  </div>
  <div class="navbar-center hidden px-2 mx-2 lg:flex">
    <Nav class="flex justify-evenly items-stretch" />
  </div>
  <div class="navbar-end">
    <User />
  </div>
</header>