TODO: Make navdrawer hide after click in the link
<nav class="@Class">
  <a href="/" class="btn btn-ghost rounded-btn lg:btn-sm">
    Home
  </a>
  <a href="/" class="btn btn-ghost rounded-btn lg:btn-sm">
    About
  </a>
  <a href="/" class="btn btn-ghost rounded-btn lg:btn-sm">
    Contact us
  </a>
</nav>

@code {
  [Parameter]
  public string Class { get; set; }
}