<div class="dropdown dropdown-end">
  <div tabindex="0" class="avatar btn btn-ghost btn-circle">
    <div class="rounded-full w-10 h-10 m-1">
      <img src="https://i.pravatar.cc/500?img=32">
    </div>
  </div>
  <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
    <li>
      <a>Whatever</a>
    </li> 
    <li>
      <a>Sign Out</a>
    </li> 
  </ul>
</div>