@using OpenOsp.Client.Enums
@using OpenOsp.Model.Dtos

<tr>
  @switch (_mode) {
    case TableRecordMode.Read:
      <td></td>
      <td>@_readDto.Type</td>
      <td>@_readDto.Location</td>
      <td>@_readDto.StartTime.ToString("MMMM dd yyyy")</td>
      <td>@_readDto.EndTime.ToString("MMMM dd")</td>
      break;
    case TableRecordMode.Update:
      <ActionUpdateRecord/>
      break;
  }
</tr>

@code {

  private TableRecordMode _mode { get; set; } = TableRecordMode.Read;
  
  [CascadingParameter]
  private  ActionReadDto _readDto { get; set; }

  [CascadingParameter(Name = "MarkedActions")]
  private ISet<int> _markedActions { get; set; }

}
