@using OpenOsp.Model.Dtos

<tr>
  <td></td>
  <td>@_readDto.Type</td>
  <td>@_readDto.Location</td>
  <td>@_readDto.StartTime.ToString("MMMM dd yyyy")</td>
  <td>@_readDto.EndTime.ToString("MMMM dd")</td>
  <td><ActionUpdateModal/></td>
</tr>

@code {
  
  [CascadingParameter]
  private  ActionReadDto _readDto { get; set; }

  [CascadingParameter(Name = "MarkedActions")]
  private ISet<int> _markedActions { get; set; }

}