@using OpenOsp.Model.Dtos

<tr>
  <td>
    <label>
      <input type="checkbox" @onchange="eventArgs => HandleCheckboxChange(eventArgs.Value)" checked="@_checkedActions.Contains(_readDto.Id)"/>
    </label>
  </td>
  <td>@_readDto.Type</td>
  <td>@_readDto.StartTime.ToString("MMMM dd")</td>
  <td>@_readDto.EndTime.ToString("MMMM dd")</td>
</tr>

@code {

  [CascadingParameter]
  private ActionReadDto _readDto { get; set; }

  [CascadingParameter(Name = "CheckedActions")]
  private ISet<int> _checkedActions { get; set; }

  [Parameter]
  public EventCallback OnDeleteButtonCheck { get; set; }

  private async Task HandleCheckboxChange(object value) {
    if ((bool)value) {
      _checkedActions.Add(_readDto.Id);
    }
    else {
      _checkedActions.Remove(_readDto.Id);
    }
    await OnDeleteButtonCheck.InvokeAsync();
  }

}